body {
  background-color: #160983;
}

main {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
}

main header {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100vw;
  margin-top: -6vh;

  color: #F86D08;
}

main header h1 {
  padding: 0vw 11vw 0vw 12vw;

  letter-spacing: 0.3em;
  text-transform: uppercase;

  font-family: "Muller",sans-serif;
  font-size: 14vw;
  font-weight: 600;
}

main header h2,
main p,
main .section-1 p,
main section .section-1,
main section.section-2 .textarea ul.textarea-ul-1 li,
main section.section-2 .textarea ul.textarea-ul-2 li,
main section.section-3 .ellipse-textarea ul{
  color: #F86D08;

  font-family: "font-1",sans-serif;
  font-weight: 600;
}

main header h2 {
  margin: -3vw 0vw 0vw 0vw;

  text-align: center;
  letter-spacing: 0.2em;

  font-size: 5vw;
  font-weight: 600;
}

main img.ships-up,
main section.section-3 img.ships-down {
  width: 120vw;
}

main img.ships-up {
  z-index: -8;

  display: flex;
  align-self: center;

  margin-top: -45vw;
  padding: 0vw 15vw 0vw 15vw;

  transform: rotate(180deg);
}

main header .ellipse {
  z-index: -1;

  width: 30vw;
  height: 30vw;
  margin: -90px 0px -10px 0px;

  border-radius: 50vw;
  background: #000000;
}

main .description {
  padding: 20vw 11vw 25vw 11vw;
}

main .description,
main .text-1,
main .text-2,{
  width: 80vw;
}

main .description,
main .text-1,
main .text-2,
main footer {
  font-family: "font-1",sans-serif;
  color: #ffffff;

  font-size: 6vw;
  font-weight: 300;
}

main section.section-1 {
  position: relative;

  overflow: hidden;

  width: 100vw;
  height: 100vw;
}

main section.section-1 p {
  position: absolute;
  z-index: 1;

  width: 80vw;
  margin-top: 0vw;
  padding: 0vw 0vw 0vw 11vw;

  font-size: 10vw;

}

main section img.noise {
  position: absolute;
  z-index: -3;

  overflow: hidden;

  width: 100vw;
  margin-top: 0vw;
}

main section img.sphere-opened {
  position: absolute;
  z-index: -2;

  width: 80vw;
  padding: 0vw 0vw 20vw 42vw;
}

main .text-1 {
  padding: 20vw 11vw 0vw 11vw;
}

main .text-2 {
  padding: 35vw 11vw 35vw 11vw;
}

main section.section-2 {

}

main section.section-2 img.sphere-closed {
  z-index: -4;

  width: 80vw;
  margin: -13vw 0vw -10vw 0vw;
  padding: 0vw 10vw 0vw 10vw;
}

main section.section-2 .textarea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 80vw;
  margin-top: -53vw;
  padding: 0vw 11vw 0vw 11vw;
}

main section.section-2 .textarea ul.textarea-ul-1 {
  margin-top: 0px;

  text-align: right;
  text-align: left;
  text-transform: uppercase;

  font-size: 13vw;
}

main section.section-2 .textarea ul.textarea-ul-2 {
  text-align: right;
}

main section.section-2 .textarea ul.textarea-ul-2 li {
  font-size: 5vw;
}

main section.section-3 {

}

main section.section-3 img.ships-down {
  z-index: -6;

  margin-left: -20vw;
}

main section.section-3 .ellipse-textarea {
  z-index: 5;

  display: flex;

  margin-bottom: -13vh;
  margin-left: 55vw;
}

main section.section-3 .ellipse-textarea .ellipse {
  z-index: 3;

  width: 33vw;
  height: 33vw;
  margin-top: -10vh;
  margin-right: -36vw;

  border-radius: 50vw;
  background: #000000;
}

main section.section-3 .ellipse-textarea ul {
  z-index: 4;

  margin-top: -6vh;

  text-align: right;
  text-transform: uppercase;

  font-size: 6vw;
}

main footer ul {
  display: flex;
  justify-content: space-between;
  margin-top: 5vh;
  margin-bottom: 5vh;
  flex-direction: row;
  width: 80vw;
}
