body {
  background-color: #160983;
}

main {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
}

main header {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100vw;

  color: #F86D08;
}

main header h1 {
  padding: 0% 11% 0% 12%;

  letter-spacing: 0.3em;
  text-transform: uppercase;

  font-family: "Muller",sans-serif;
  font-size: 45px;
  font-weight: 600;
}

main header h2,
main p,
main .section-1 p,
main section .section-1,
main section.section-2 .textarea ul.textarea-ul-1 li,
main section.section-2 .textarea ul.textarea-ul-2 li{
  color: #F86D08;

  font-family: "font-1",sans-serif;
  font-weight: 600;
}

main header h2 {
  margin: -10px 0px 0px 0px;

  text-align: center;
  letter-spacing: 3px;

  font-size: 16px;
  font-weight: 500;
}

main img.ships-up,
main section.section-3 img.ships-down {
  width: 120%;
}

main img.ships-up {
  display: flex;
  align-self: center;

  margin-top: -36%;
  padding: 0% 15% 0% 15%;

  transform: rotate(180deg);
}

main header .ellipse {
  z-index: -1;

  width: 100px;
  height: 100px;
  margin: -90px 0px -10px 0px;

  border-radius: 50%;
  background: #000000;
}

main .description {
  padding: 20% 11% 35% 11%;
}

main .description,
main .text-1,
main .text-2 {
  width: 80%;

  color: #ffffff;

  font-size: 18px;
  font-weight: 300;
}

main section.section-1 {
  position: relative;

  overflow: hidden;

  width: 100vw;
  height: 100vw;
}

main section.section-1 p {
  position: absolute;
  z-index: 1;

  width: 80%;
  margin-top: 0px;
  padding: 0% 0% 0% 11%;

  font-size: 30px;

}

main section img.noise {
  position: absolute;
  z-index: -3;

  overflow: hidden;

  width: 100vw;
  margin-top: 0px;
}

main section img.sphere-opened {
  position: absolute;
  z-index: -2;

  width: 80vw;
  padding: 0% 0% 20% 42%;
}

main .text-1 {
  padding: 35% 11% 0% 11%;
}

main .text-2 {
  padding: 35% 11% 35% 11%;
}

main section.section-2 {

}

main section.section-2 img.sphere-closed {
  z-index: -4;

  width: 80%;
  margin: -13% 0% -10% 0%;
  padding: 0% 10% 0% 10%;
}

main section.section-2 .textarea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 80%;
  margin-top: -53%;
  padding: 0% 11% 0% 11%;
}

main section.section-2 .textarea ul.textarea-ul-1 {
  margin-top: 0px;

  text-align: right;
  text-align: left;
  text-transform: uppercase;

  font-size: 40px;
}

main section.section-2 .textarea ul.textarea-ul-2 {
  text-align: right;
}

main section.section-2 .textarea ul.textarea-ul-2 li {
  font-size: 15px;
}

main section.section-3 img.ships-down {
  z-index: -6;

  margin-left: -20%;
}

main section.section-3 .ellipse-textarea {
  
}

main section.section-3 .ellipse-textarea .ellipse {
  z-index: 3;

  width: 100px;
  height: 100px;

  border-radius: 50%;
  background: #000000;
}









@media screen and (min-width:321px) {



}

@media screen and (min-width:768px) {



}

@media screen and (min-width:1024px) {



}

@media screen and (min-width:1440px) {



}
