body {
  display: flex;
  flex-flow: column;

  background-color: #160983;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100vw;
  margin: 0 auto;
  /* height: 50vh; */
  /* color: #e7f5fc; */
    /* background-color: #ff6700; */

  color: #fff;
}

header .description {
  z-index: 10;

  display: flex;
  align-items: center;
  flex-direction: column;
}

header .description  h1 {
  padding-left: 10px;

  letter-spacing: 0.2em;

  font-family: "Adieu-Bold",sans-serif;
  font-size: 55px;
  font-weight: 900;
}

header .description h2 {
  padding: 8px 0px 0px 0px;

  font-family: "Adieu-Bold",sans-serif;
  font-size: 18px;
  font-weight: 900;
}

header .shapes {
  z-index: 1;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

header .shapes .shape-1 {
  align-self: flex-end;

  width: 100px;
  height: 100px;
  margin: 100px 0px 30px 20px;

  border-radius: 34px 66px 36px 64px / 43px 67px 33px 57px ;
  background: linear-gradient(135deg, rgb(255, 63, 5) 0%, rgba(240, 113, 23, 0.96) 29%, #ff9900 59%, rgb(247, 160, 52) 100%);
}

header .shapes .shape-2 {
  align-self: flex-start;

  width: 100px;
  height: 100px;
  margin: 30px 20px 10px 60px;

  border-radius: 100px 64px 78px 80px / 100px 52px 100px 55px    ;
  background: linear-gradient(135deg, rgb(255, 63, 5) 0%, rgba(240, 113, 23, 0.96) 29%, #ff9900 59%, rgb(247, 160, 52) 100%);
}

header .shapes .shape-3 {
  align-self: flex-start;

  width: 100px;
  height: 100px;
  margin: 30px 20px 10px 20px;

  border-radius: 52px 48px 36px 64px / 37px 67px 33px 63px;
  background: linear-gradient(135deg, rgb(255, 63, 5) 0%, rgba(240, 113, 23, 0.96) 29%, #ff9900 59%, rgb(247, 160, 52) 100%);
}

header .shapes .shape-4 {
  align-self: flex-end;

  width: 80px;
  height: 80px;
  margin: 30px 20px 10px 60px;

  border-radius: 69px 31px 79px 21px / 72px 44px 56px 28px;
  background: linear-gradient(135deg, rgb(255, 63, 5) 0%, rgba(240, 113, 23, 0.96) 29%, #ff9900 59%, rgb(247, 160, 52) 100%);
}

header .shapes .shape-5 {
  width: 62px;
  height: 62px;
  margin: 30px 20px 10px 60px;

  border-radius: 73px 27px 40px 60px / 53px 35px 65px 47px     ;
  background: linear-gradient(135deg, rgb(255, 63, 5) 0%, rgba(240, 113, 23, 0.96) 29%, #ff9900 59%, rgb(247, 160, 52) 100%);
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-bottom: 30px;
}

main .top-shape {
  display: inline-flex;

  margin-top: 30px;
}

main .top-shape .shape-1 {
  width: 40vw;
  height: 40vw;
  /* transform: rotate(90deg); */

  border-radius: 100% 0% 45% 55% / 58% 64% 36% 42%   ;
  background: white;
}

main .top-shape .shape-2 {
  width: 40vw;
  height: 40vw;

  border-radius: 0% 100% 45% 55% / 63% 60% 40% 37%   ;
  background:white;

}

main .bottom-shape {
  display: inline-flex;

  transform: rotate(180deg);

}

main .bottom-shape .shape-1 {
  width: 40vw;
  height: 40vw;
  /* transform: rotate(90deg); */

  border-radius: 100% 0% 45% 55% / 58% 64% 36% 42%   ;
  background: white;
}

main .bottom-shape .shape-2 {
  width: 40vw;
  height: 40vw;

  border-radius: 0% 100% 45% 55% / 63% 60% 40% 37%   ;
  background:white;

}

main .text {
  width: 80vw;
  margin: 30px 0px 30px 0px;

  color: white;

  font-family: "Muller",sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;

}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

footer .contact li {
  padding: 5px;

  color: white;

  font-family: "Adieu-Bold",sans-serif;
  font-size: 15px;
  font-weight: 900;
}



















@media screen and (min-width:768px) {

  header .description  h1 {
    font-size: 200px;
  }

}

@media screen and (min-width:1024px) {

  header .description  h1 {
    font-size: 200px;
  }

}

@media screen and (min-width:1440px) {

  header .description  h1 {
    font-size: 200px;
  }

}
